h1 {
    color: rgb(105, 105, 198);
    font-size: medium;
}

.navbar {
    background-color:#E6FDD3;
}
.navbar-brand{
width: 100px;
height: 100px;
}
.nav-element{
    font-size: 30px;
    font-family: 'Neucha';
    color:#6CB18C;
}
a.nav-link{
    color:#6CB18C;
}
.pantalla2{
    font-size: 48px;
    font-family: 'Neucha';
    background-color: rgb(249, 249, 249);
    margin-left: 600px;
    color:#6CB18C;
    display: inline-block;

}
.pantalla3{
    font-size: 25px;
    color: #B17B6C ;
    background-color: antiquewhite;
    margin-left: 500px;
    display: inline-block;
}
.logo2{
    margin-left: 100px;
    display: inline-block;
}

